@keyframes marquee {
  0% { left: 10%; }
  50% { left: 60%; }
  100% { left: 10%; }
}

* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
	overflow-x: hidden;
}

section {
	display: block;
}

h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

p {
  text-align: justify;
  text-justify: auto;
  color: blue;
  hyphens: auto;
}

img {
  display: block;
}

.marquee {
  left: 10%;
  top: 100px;
  position: relative;
  animation: marquee 20s infinite;
}

.header {
	text-align: center;
}

.grid {
	display: grid;
}

.full-width {
	grid-column-start: span 2;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

/* Sections */

#intro {
	display: grid;
	grid: auto / 1fr 1fr;
	grid-gap: 15%;
}

#galit img {
	background: #B96400;
}

#jiggle img,
#three-d img, 
#scapula img, 
#typo-exp img
{
	background: #FFC700;
}

#galit {
	background: #C4C4C4;
}

#galit .grid {
	grid: 1fr 1fr / 1fr 1fr;
	grid-row-gap: 4%;
}

#jiggle {
	background: #E9E9E9;
}

#jiggle .grid {
	grid: 1fr 1fr / 1fr 1fr;
}

#three-d {
	background: #C4C4C4;
}

#three-d .grid {
	grid-template-areas:
	"teen1 teen2"
	"header header"
	"cyberspace cyberspace"
}

#three-d .header {
	grid-area: header;
}

#three-d .cyberspace {
	grid-area: cyberspace;
}

#scapula {
	display: grid;
	grid: 0.25fr 1fr 1fr / 1fr;
	background: #000;
	color: #fff;
}

#typo-exp {
	display: grid;
	grid: 0.25fr 1fr 1fr / 1fr 1fr;
	background: #A3A3A3;
	color: #fff;
}

#typo-exp .header {
	grid-column: 1 / span 2;
}


#typo-exp div:nth-of-type(2) {
	grid-column: 1 / span 2;
}

#typo-exp div:nth-of-type(3) {
	grid-row: 3;
}

#typo-exp div:nth-of-type(4) {
	grid-row: 3;
}
