* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

img {
  display: block;
}

/* Helpers */

.top-margin {
  margin-top: 100px;
}

.push-left {
  margin-left: 100px;
}

.section {
  width: 1920px;
  padding-bottom: 140px;
}

.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.center {
  text-align: center;
}
img.center {
  margin-left: auto;
  margin-right: auto;
}

.split {
  display: flex;
  column-gap: 2rem;
}
.split .w10 {
  flex: 10%;
}
.split .w20 {
  flex: 20%;
}
.split .w30 {
  flex: 30%;
}
.split .w40 {
  flex: 40%;
}
.split .w50 {
  flex: 50%;
}
.split .w60 {
  flex: 60%;
}
.split .w70 {
  flex: 70%;
}
.split .w80 {
  flex: 80%;
}
.split .w90 {
  flex: 90%;
}

@keyframes marquee {
  0% {
    left: 10%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 10%;
  }
}
.marquee-animation {
  top: 100px;
  left: 10%;
  position: relative;
  animation: marquee 20s infinite;
}

/* Sections */

#intro {
  margin-top: 170px;
}
#intro .split {
  column-gap: 270px;
}

#jiggle {
  width: 100%;
  background: #e9e9e9;
}
#jiggle img {
  background: #ffc700;
}

#galit {
  width: 100%;
  background: #c4c4c4;
}

#galit .grid {
  display: grid;
  width: 1246px;
  margin-left: 6.5%;
  grid-row-gap: 60px;
  grid-column-gap: 60px;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}
#galit img {
  background: #b96400;
}
#galit .grid div:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

#three-d {
  background: #c4c4c4;
}
#three-d img {
  background: #ffc700;
}

#scapula {
  background: #000000;
}
#scapula h2,
#scapula h3 {
  color: #ffffff;
}
#scapula img {
  background: #ffc700;
  margin-left: auto;
  margin-right: auto;
}
#scapula img:nth-of-type(2) {
  margin-top: 2rem;
}

#experiments-in-typography {
  background: #a3a3a3;
}
#experiments-in-typography .split {
  margin-left: 2%;
}
#experiments-in-typography h2,
#experiments-in-typography h3 {
  color: #ffffff;
}
#experiments-in-typography img {
  background: #ffc700;
}
